<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ListeningOn" value="http://localhost:8082/"/>
		<add key="EnableRegistrationFeature" value="false"/>
		<add key="RecreateAuthTables" value="false"/>
		<add key="EnableLog4Net" value="false" />    
		<add key="DefaultSessionExpiry" value="480" />    <!-- minutes !-->
		<add key="EnableRedisForAuthCache" value="true" />
		<add key="AuthCacheHost" value="localhost:6379" />
		<add key="AuthCacheDb" value="8" />
		<add key="AuthCachePassword" value="" />
		<add key="AddUsers" value="false" />
	</appSettings>	
	<connectionStrings>
    	<add name="ApplicationDb" connectionString="User=SYSDBA;Password=masterkey;Database=Aicl.Galapago.fdb;DataSource=localhost;Dialect=3;charset=ISO8859_1;" />
    	<add name="UserAuth" connectionString="User=SYSDBA;Password=masterkey;Database=Aicl.Galapago.fdb;DataSource=localhost;Dialect=3;charset=ISO8859_1;" />    
  	</connectionStrings>
</configuration>
